<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div id="app" class="d-flex align-items-center justify-content-center">
        <div class="box d-flex">
            <div class="box-left">
                <div class="box-left-me d-flex align-items-center justify-content-between p-2">
                    <div class="d-flex align-items-center">
                        <div class="box-image">
                            <img src="./img/avatar_io.jpg" alt="Me">
                        </div>
                        <p class="px-2">Nome Utente</p>
                    </div>
                    <div class="items">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>  
                </div>
                <div class="box-left-notice d-flex align-items-center p-3">
                    <div class="box-image d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="text px-3">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <p>Arriva notifiche desktop</p>
                    </div>
                </div>
                <div class="box-left-search d-flex align-items-center">
                    <div class="input-group p-1">
                        <span class="input-group-text bg-light"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" v-model="search" @keyup="newArray()">
                      </div>
                </div>
                <div class="box-left-chat">
                    <div @click="selectChat(index)" v-for="(contact, index) in contacts" :key="contact.id" :class="contact.visible ? '' : 'd-none', activeIndex === index ? 'messageHover' : ''" class="my-card d-flex justify-content-between px-4 py-2">
                        <div class="d-flex">
                            <div class="box-image">
                                <img :src="contact.avatar" :alt="contact.name">
                            </div>
                            <div class="text px-3">
                                <h5 class="m-0">{{contact.name}}</h5>
                                <p class="text-decoration-none">Ultimo messaggio inviato</p>
                            </div>
                        </div>
                        <div class="items">
                            <p>12:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-right">
                <div class="box-right-user d-flex align-items-center justify-content-between p-2">
                    <div class="d-flex align-items-center">
                        <div class="box-image">
                            <img :src="contacts[activeIndex].avatar" :alt="contacts[activeIndex].name">
                        </div>
                        <div class="text px-3">
                            <p>{{contacts[activeIndex].name}}</p>
                            <p class="text-decoration-none">Ultimo accesso oggi alle 12:00</p>
                        </div>
                    </div>
                    <div class="items">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>  
                </div>
                <div class="box-right-message">
                    <div v-for="(contact, index) in contacts" :key="contact.id" :class="activeIndex === index ? 'container-message' : 'd-none'">
                        <div v-for="(message, indexMsg) in contact.messages" :class="message.status === 'sent' ? 'justify-content-end' : ''" class="d-flex" ref="msg"> <!-- @mouseleave="hover = false" -->
                            <div :class="message.status === 'sent' ? 'my-message' : 'message-user'" class="d-flex align-items-center justify-content-between position-relative" @mouseover="hoverMsg(indexMsg)" @mouseleave="hover = false, flag = false">
                                <p class="py-2 ps-2">{{message.message}}</p>
                                <div v-if="activeMsg === indexMsg" class="dropdown" :class="hover ? '' : 'd-none'">
                                    <span @click="flagMsg" data-bs-toggle="dropdown"><i class="fa-solid fa-angle-down"></i></span>
                                    <ul class="dropdown-menu end-0" :class="flag ? 'd-block' : 'd-none'" >
                                        <li><a class="dropdown-item" @click="">Message info</a></li>
                                        <li><a class="dropdown-item" @click="removeMessage(indexMsg)">Delete message</a></li>
                                    </ul>
                                </div>
                                <p class="time-message position-absolute bottom-0 end-0 p-1">{{message.time}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-right-input d-flex align-items-center justify-content-between">
                    <div class="input-item d-flex align-items-center justify-content-center">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="input-message d-flex align-items-center">
                        <input type="text" class="form-control" id="message" placeholder="Scrivi un messaggio" v-model="newMex" @keyup="change" @keyup.enter="addMessage(activeIndex)">
                    </div>
                    <div class="input-item d-flex align-items-center justify-content-center">
                        <i :class="changeItem ? 'd-none' : 'fa-solid fa-microphone'"></i>
                        <i @click="addMessage(activeIndex)" :class="changeItem ? 'fa-solid fa-paper-plane' : 'd-none'"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>